.featureContainer {
}

.header {
  text-align: left;
  padding: 15px 0px;
  color: white;
}

.header h3 {
  display: flex;
  flex-flow: row;
  margin: 0px 20px;
  height:25px;
  line-height:25px;
  font-size: 15px;
  font-weight: 700;
}

.controlsContainer {
  background-color: #d2d2d2;
  display: flex;
  flex-flow: row;
  font-size: 15px;
  font-weight: 300;
}

.controlsTable {
  margin: 0px 10px;
  border-spacing: 20px 13px;
  line-height:25px;
}

.holder {
  background-color: #e4e4e4;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0px 20px;
}

.ok {
  background-color: #329a5d;
}

.warning {
  background-color: #e9c704;
}

.error {
  background-color: #f62d3d;
}

.icon {
  margin-left: auto;
  margin-right: 0px;
  vertical-align: middle;
}

.shiftLeft {
  position: relative;
  left: -10px;
}

.alignLeft {
  text-align:left;
}
