.part h2{
    text-align: left;
    margin: 20px;
    font-size: 25px;
}
.featuresContainer{
    margin:20px;
    display:grid;
    gap:10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}