.part h2{
    text-align: left;
    margin: 20px;
    font-size: 25px;
}
.featuresContainer{
    margin:20px;
    display:grid;
    column-gap: 5px;
    row-gap: 7px;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
}